openapi: 3.0.0
info:
  title: Scanspire API
  version: 1.0.0
  description: API documentation for Scanspire, including authentication, scan management, and domain management.

servers:
  - url: https://api.scanspire.com/v1
    description: Production server

tags:
  - name: Authentication
    description: User authentication endpoints
  - name: Scans
    description: Endpoints for managing scans
  - name: Domains
    description: Endpoints for managing domains and subdomains

paths:
  /login:
    $ref: './auth_controller.yaml#/paths/~1login'

  /scans:
    $ref: './scan_controller.yaml#/paths/~1api~1v1~1scans'
  /scans/{uuid}:
    $ref: './scan_controller.yaml#/paths/~1api~1v1~1scans~1{uuid}'
  /scans/{uuid}/results:
    $ref: './scan_controller.yaml#/paths/~1api~1v1~1scans~1{uuid}~1results'

  /domains:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains'
  /domains/{uuid}:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}'
  /domains/{uuid}/subdomains:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}~1subdomains'
  /domains/{uuid}/subdomains/import:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}~1subdomains~1import'
  /domains/{uuid}/toggle:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}~1toggle'
  /domains/{uuid}/subdomains/{subdomain_id}/toggle:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}~1subdomains~1{subdomain_id}~1toggle'
  /domains/{uuid}/subdomains/{subdomain_id}:
    $ref: './domain_controller.yaml#/paths/~1api~1v1~1domains~1{uuid}~1subdomains~1{subdomain_id}'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

security:
  - bearerAuth: []
